<%- include('./partials/header.ejs') %>

<style>
    
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
 }
.tbl-content{
  height:600px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  background: #fff;
  color:#000;
  
  
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
}
tr:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Adjust the color as needed */
    }

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4); */
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.max-points {
            background-color: #2597c4; /* Change the background color to highlight */
        }


        @media screen and (max-width: 768px) {
        h1 {
            font-size: 24px; /* Decrease font size for smaller screens */
        }
        table {
            width: 100%; /* Make the table full width on smaller screens */
        }
        .tbl-content {
            height: auto; /* Allow the table content to expand vertically */
        }
    }        
</style>
<style>
    header img {
      height: 80px;
      margin-left: 40px;
    }

    /* body {
    height: 125vh;
    background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
} */

    main {
      color: white;
    }

    header {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 25px 0 black;
    }

    header * {
      display: inline;
    }

    header li {
      margin: 20px;
    }

    header li a {
      color: black;
      text-decoration: none;
    }
  </style>
    </head>
    <body>
        <header>
            <img src="../../../black-logo-transparent.png">
             <nav>
                 <ul>
                     <li><a href="/leadtable">Lead Board</a></li>
                     <li><a href="/allData">All Data</a></li>
                     <li><a href="/stats">Analytics</a></li>
                     <li><a href="/upload">Update</a></li>
                     <li><a href="#">Contact</a></li>
                 </ul>
             </nav>
         </header>
        <div style="margin-top: 100px;">
            <div class="container">
                <h1 class='lineUp'>Lead Board</h1>
                <section>
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Match</th>
                            <% if (data && data.length > 0 && data[0].players) { %>
                                <% data[0].players.forEach(function(player) { %>
                                    <th><%= player.name %></th>
                                <% }); %>
                            <% } %>
                            
                        </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                             
                          <% if (Array.isArray(data)) { %>
                            <% data.forEach(function(entry) { %>
                                <tr>
                                    <td><%= entry.date %></td>
                                    <td><%= entry.match %></td>
                                    <% if (entry.players) { %>
                                        <% var maxPoints = Math.max(...entry.players.map(player => player.points)); %>
                                        <% entry.players.forEach(function(player) { %>
                                            <% if (player.points === maxPoints) { %>
                                                <td class="max-points"><%= player.points %></td>
                                            <% } else { %>
                                                <td><%= player.points %></td>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                </tr>
                            <% }); %>
                        <% } %>
                        
                        </tbody>
                      </table>
                    </div>
                  </section>
                  
            </div>
        </div>
    </body>
    <script>$(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
      }).resize();</script>
</html>
